{{ define "main" }}

<section class="">
  <div class="container mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
      <div class="max-w-lg">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">About Us</h2>
        <p class="mt-4 text-gray-600 text-lg">We specialise solely in sign manufacturing — we understand production workflows, installation logistics, materials, margins, and customer acquisition.</p>
        <div class="mt-8">
        </div>
      </div>
      <div class="mt-12 md:mt-0">

        {{ with resources.Get "images/brand/brand-image.png" }}
        {{ $small := (.Resize "400x webp q100").RelPermalink }}
        {{ $medium := (.Resize "550x webp q100").RelPermalink }}
        {{ $large := (.Resize "2000x webp q50").RelPermalink }}
        {{ $logoimage := (.Resize "900x webp q100").RelPermalink }}
        <img alt="About Us Image" class="object-cover rounded-lg shadow-md" src="{{ $logoimage }}" srcset="{{- with $small -}}, {{.}} 768w{{- end -}}
              {{- with $medium -}}, {{.}} 1024w{{- end -}}
              {{- with $large -}}, {{.}} 1374w{{- end -}}">
        {{end}}

      </div>
    </div>
    <div class="my-10 max-w-4xl">

      <div class="content prose prose-lg max-w-none text-gray-900 leading-relaxed mx-auto">
        {{.Content}}
      </div>
    </div>
  </div>
</section>
{{ end }}