<!-- Testimonial/stats section -->
<div class="relative my-4">
  <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
    <div class="relative sm:py-8 lg:py-0">
      <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
        <div class="absolute inset-y-0 w-full bg-gray-50 dark:bg-gray-900/10 right-1/2 rounded-r-3xl lg:right-72">
        </div>
        <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392"
          fill="none" viewBox="0 0 404 392" loading="lazy">
          <defs>
            <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
        </svg>
      </div>
      <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
        <!-- Testimonial card-->
        <div class="relative overflow-hidden shadow-xl rounded-2xl">
          {{ $missionimage := resources.Get "images/sign-manufacturing.jpg" }}
          {{ with $missionimage }}
          {{ with .Resize (printf "%dx%d webp q90" .Width .Height) }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="object-cover w-full h-full"
            alt="Our Mission - Sign Manufacturing" loading="lazy" />
          {{ end }}
          {{ end }}

        </div>
      </div>
    </div>

    <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
      <!-- Content area -->
      <div class="md:pt-12 sm:pt-6 lg:pt-20">
        <h2 class="text-3xl font-medium text-black sm:text-4xl">
          Who We Are</h2>
        <div class="text-lg mt-6 space-y-6 text-gray-900 dark:text-white">
          <p class="leading-7">The Signmakers Group is a UK-based holding company focused exclusively on the
            sign manufacturing sector.
          </p>
          <p class="leading-7">We partner with talented business owners who have built profitable, well-run
            companies and want:
          </p>
          <ul class="list-disc list-inside">
            <li>A secure exit</li>
            <li>A succession solution</li>
            <li>Capital for growth</li>
            <li>Expertise and guidance</li>
            <li>Or the strength of being part of something bigger</li>
          </ul>
          <p class="leading-7">
            We preserve what makes each company great — its people, reputation and craftsmanship — while providing the
            structure, systems and capital to scale sustainably.
          </p>

          {{ with resources.Get "images/logo/dark-blue-full.png" }}
          {{ $small := (.Resize "400x webp q100").RelPermalink }}
          {{ $medium := (.Resize "550x webp q100").RelPermalink }}
          {{ $logoimage := (.Resize "900x webp q100").RelPermalink }}
          <img src="{{ $logoimage }}" srcset="" alt="" class="py-12">
          {{end}}

        </div>
      </div>
    </div>

  </div>

</div>


<section>
  <div class="items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div>
      <div class="max-w-2xl">
        <p class="text-2xl font-medium tracking-tight text-black sm:text-4xl">
Our Vision: To build the most respected network of independent sign manufacturing businesses in the United Kingdom.        </p>
        <p class="max-w-2xl mt-4 text-lg tracking-tight">
          We believe the UK sign industry is fragmented and undervalued. Through strategic acquisitions and operational excellence, The Signmakers Group will create:</p>
      </div>
    </div>
    <div class="w-full mx-auto mt-12 text-left">
      <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
        <div class="mx-auto lg:max-w-7xl">
          <ul role="list" class="grid grid-cols-2 gap-4 list-none md:grid-cols-3 lg:gap-12">
            <li class="flex flex-row">
              <svg class="w-5 h-5 text-green-600 shrink-0 mt-1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                </path>
              </svg>
              <p class="text-lg ml-2 font-medium leading-6 text-black">
                Economies of scale</p>
            </li>
            <li class="flex flex-row">
              <svg class="w-5 h-5 text-green-600 shrink-0 mt-1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                </path>
              </svg>
              <p class="ml-2 text-lg font-medium leading-6 text-black">
                Cross-regional collaboration
              </p>
            </li>
            <li class="flex flex-row">
              <svg class="w-5 h-5 text-green-600 shrink-0 mt-1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                </path>
              </svg>
              <p class="ml-2 text-lg font-medium leading-6 text-black">
                Stronger supplier relationships
              </p>
            </li>
            <li class="flex flex-row">
              <svg class="w-5 h-5 text-green-600 shrink-0 mt-1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                </path>
              </svg>
              <p class="ml-2 text-lg font-medium leading-6 text-black">
                Improved margins
              </p>
            </li>

            <li class="flex flex-row">
              <svg class="w-5 h-5 text-green-600 shrink-0 mt-1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                </path>
              </svg>
              <p class="ml-2 text-lg font-medium leading-6 text-black">
                Sustainable long-term growth
              </p>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>